@{
    ViewData["Title"] = "Pagina principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
</div>

<style>
    h1 em{
        margin: 0px;
        padding-left: 38%;
        color: black;
        text-align: center;
        padinng-top:10px;
    
    }

    #Principal{

        margin-top: 200px;

        border:1px solid;

        opacity: 0.6;

        background-color: rgb(255, 255, 255, 0.8);

        box-sizing: border-box;

    
    }

    body{
    
        background-color: #154360;

    }

    p{
    
        text-align: center;
    
    }

    footer{
    
        background-color: #283747 ;
    }

  
</style>


<main id="Principal">
    
    <div>
       <h1> <em>Pagina principal</em></h1>

       <section>
       
       <article>

          <p>entityframework, es un ORM que nos ayuda a relacionar las bases de datos con los <i>lenguajes de programacion </i>soportados en entityFramework, este ORM nos ayuda a mapear bases de datos en una arquitectura de software</p>

       </article>
       
   </section>
    </div>



</main>
